
basic-project/basic-project/.vs/basic-project/v17/ipch/AutoPCH/91cd3ccea7570c/CINTRODUCTION.ipch
basic-project/basic-project/.vs/basic-project/FileContentIndex/af9ff267-3f7b-4cfc-87f3-1ee97de17c3f.vsidx
basic-project/basic-project/.vs/basic-project/FileContentIndex/f9c04055-af03-4877-8204-58116cd31ad5.vsidx
basic-project/basic-project/.vs/basic-project/FileContentIndex/read.lock
basic-project/basic-project/.vs/basic-project/v17/Browse.VC.db
basic-project/basic-project/.vs/basic-project/v17/Browse.VC.db-shm
basic-project/basic-project/.vs/basic-project/v17/Browse.VC.db-wal
basic-project/basic-project/.vs/basic-project/v17/Browse.VC.opendb
